* {
    box-sizing: border-box;
}

.pictures {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0 0 50px;
    padding: 0;

}

.picture-card {
    width: 1180px;
    height: 1000px;
    background-color: #292827;
    margin: 0 auto;
    padding: 50px;

}

.picture-max {
    display: flex;
    justify-content: center;
}